<!DOCTYPE html>
<html>

<head>
    <title>绑定OTP</title>
    <link href="{{ cssUrl }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ faviconUrl }}"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .button-primary {
            background-color: {{ backgroundColor }}
        }
    </style>
</head>
<body class="bg-gray-300" style="font-family:Roboto">
      <div class="w-full mx-10 h-screen flex items-center justify-center">
        <div class="w-full md:w-1/3 bg-white rounded-lg py-4">
          <div class="flex mb-4 ml-8 justify-between">
            <h2 class="border-b-2 border-red-300 text-2xl text-center text-red-700">
              绑定OTP
            </h2>
            <form action="/otp/bind" method="get">
              <button type="submit" name="action" value="backToLoginUI" class="text-x text-gray-500 mr-4">
                返回登录
              </button>
              <input type="hidden" name="backToLoginUrl" value="{{ backToLoginUrl }}">
            </form>
          </div>
        {% if sendEmailUI != true %}
        <form class="w-full" method="post" action="/otp/bind">
          <div class="px-8">
            <div class="w-full mb-4">
              <div class="flex items-center">
                <input type='text' name="username" placeholder="用户名" required
                    class="-mx-2 px-8  w-full border rounded py-2 text-gray-700 focus:outline-none" />
              </div>
            </div>
            <div class="w-full mb-4">
              <div class="flex items-center">
                <input name="password" placeholder="密码" type="password" required
                    class="-mx-2 px-8 w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" />
              </div>
            </div>
          </div>
          {% if err %}
          <div>
            <p class="my-4 text-center text-red-600">用户名/密码无效，请检查。</p>
          </div>
          {% endif %}
          <div class="flex justify-center">
            <button type="submit" name="action" value=""
              class="w-1/3 py-2 rounded-full button-primary text-gray-100 focus:outline-none">
                确认
            </button>
          </div>
          <input type="hidden" name="backToLoginUrl" value="{{ backToLoginUrl }}">
        </form>

        {%  else %}
        {% if redisUserInfoExpiration %}
        <div class="w-full mt-8 mb-8 justify-center items-center">
          <p class="text-center text-xl text-red-700"> 用户信息过期，请重新绑定! </p>
        </div>
        {% else %}

        <form class="w-full flex flex-wrap" method="post" action="/otp/sendEmail">
          <div class="w-full mb-8 ml-8 justify-between">
            <p class="mt-1">请于10分钟内完成绑定</p>
          </div>
          <div class="w-full overflow-scroll">
            <div class="flex w-full mb-4 items-center justify-between">
              <div class="flex-grow">
                <p class="border-b-2 ml-8">您的邮箱({{ emailAddress }})</p>
              </div>
              <div>
                <button type="submit" name="action" value="requestValidationMessage"
                  class="mr-1 text-sm py-1 px-1 rounded-full button-primary text-gray-100 focus:outline-none">
                  获取绑定链接
                </button>
              </div>
            </div>
            {% if sendSucceeded == true%}
            <div class="flex items-center justify-between mb-4 mt-6">
            <p class="ml-8"> 绑定链接已发送，请在邮箱内进行验证 </p>
            </div>
            {% elsif sendSucceeded == false%}
            <div class="flex items-center justify-between mb-4 mt-6">
              <p class="ml-8"> 验证链接发送失败，请在60秒后重新获取 </p>
            </div>
            {% elsif timeDiffNotEnough %}
              <div class="flex items-center justify-between mb-4 mt-6">
              <p class="ml-8 text-red"> 请勿频繁获取绑定链接，请在{{ timeDiffNotEnough }}秒后重新获取 </p>
              </div>
            {% endif %}
            {% endif %}
          </div>
          <input type="hidden" name="OTPSessionToken" value="{{ OTPSessionToken }}" />
          <input type="hidden" name="emailAddress" value="{{ emailAddress }}" />
          <input type="hidden" name="backToLoginUrl" value="{{ backToLoginUrl }}">
        </form>
        {% endif %}
        </div>
      </div>
      <p class="absolute bottom-0 w-full text-center my-4 text-gray-500 text-sm ">
        {{ footerText }}
      </p>
</body>
</html>
