<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    <link href="{{ cssUrl }}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ faviconUrl }}"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
          background: linear-gradient(#fafaff, #d8daea);
        }
        .button-primary {
            background-color: {{ backgroundColor }}
        }
    </style>
</head>

<body style="font-family:Roboto">
    <div class="w-full h-screen flex items-center justify-center">
        <form class="w-full md:w-1/3 max-w-lg bg-white rounded-lg py-12 " method="post" action="">
            <img class="m-auto pb-12 w-1/2" src="{{ logoUrl }}" alt="登录"/>

            <div class="px-12">
                <div class="w-full mb-4">
                    <div class="flex items-center">
                        <input type='text' name="username" placeholder="用户名" required
                            class="px-8  w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" />
                    </div>
                </div>
                <div class="w-full mb-4">
                    <div class="flex items-center">
                        <input name="password" placeholder="密码" type="password" required
                            class="px-8 w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" />
                    </div>
                </div>
                {% if enableCaptcha %}
                <div class="w-full mb-4">
                    <div class="flex items-center">
                        <input name="code" placeholder="请输入验证码" type="text" required
                            class=" px-8 w-full border rounded px-3 py-2 text-gray-700 focus:outline-none" />
                        {{ code }}
                    </div>
                </div>

                {% if verifyCaptchaFail %}
                  <p class="my-4 text-center text-red-600">验证码无效，请重新输入。</p>
                {% endif %}

                {% else %}
                <input type="hidden" name="code" value="" />
                {% endif %}

                <input type="hidden" name="token" value="{{ token }}" />
                <input type="hidden" name="callbackUrl" value="{{ callbackUrl }}" />

                {% if err %}
                  <p class="my-4 text-center text-red-600">用户名/密码无效，请检查。</p>
                {% endif %}
                <button type="submit" class="w-full mt-4 py-2 rounded-full button-primary text-gray-100 focus:outline-none">
                    登录
                </button>
        </form>
      </div>
    <p class="absolute bottom-0 w-full text-center my-4 text-gray-500 text-sm">
      {{ footerText }}
    </p>
</body>
</html>
